@tailwind base;
@tailwind components;
@tailwind utilities;

.cell {
  @apply aspect-square bg-white border-gray-900 w-cellWidthSm md:w-cellWidth;

}

input {
  width:100%;
  height:100%;
  font-size: clamp(16px, 6vw, 38px);
  display: block;
}

.button {
  @apply rounded-md py-1 md:py-3 bg-green-100 hover:bg-green-200 font-semibold uppercase px-5 md:w-40;
}